.adminName {
    position: absolute;
    top: 15rem;
    left: 124px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.logo {
    border-radius: 50%;
    position: absolute;
    top: 147px;
    left: 22px;
    width: 114px;
    height: 98px;
}

.info-container {
    margin-top: 65px;
    border: 2px solid #8c7171;
    border-radius: 7px;
}